# Pacotes essenciais
streamlit
pandas
numpy
scipy==1.13.1
scikit-learn
matplotlib
seaborn
plotly
statsmodels
altair
networkx
streamlit-option-menu

# Pacotes de NLP e Machine Learning (ajustados para evitar problemas no deploy)
nltk
gensim==4.3.3
wordcloud
huggingface-hub
transformers
pyLDAvis
vaderSentiment
spacy

# Modelos do spaCy para português e inglês
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.6.0/pt_core_news_sm-3.6.0.tar.gz
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz

# Dependências web e API
requests
httpx
beautifulsoup4
lxml
flask
flask-cors
flask-login

# Dependências extras
joblib
tqdm
regex
protobuf
pydantic
python-dotenv
PyYAML

