# Pacotes essenciais
streamlit
pandas
numpy
scipy==1.10.1
scikit-learn
matplotlib
seaborn
plotly
statsmodels
altair

# Pacotes de NLP e Machine Learning (ajustados para evitar problemas no deploy)
nltk
gensim==4.3.0
spacy
wordcloud
huggingface-hub
transformers
pyLDAvis

# Dependências web e API
requests
httpx
beautifulsoup4
lxml
flask
flask-cors
flask-login

# Dependências extras
joblib
tqdm
regex
protobuf
pydantic
python-dotenv
PyYAML
